<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import type Product from "@/types/Products";

const productStore = useProductStore();
function myProducts(order: Product) {
  productStore.addMyOrders(order);
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 90vh; overflow: auto">
          <v-row>
            <v-col
              cols="4"
              v-for="item of productStore.products"
              :key="item.id"
            >
              <v-card>
                <v-card-title class="text-center">{{ item.name }}</v-card-title>
                <h3 class="text-center">{{ item.price }}</h3>
                <v-card-actions class="justify-center">
                  <v-btn @click="myProducts(item)" elevation="2"> Add </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col cols="6">
        <v-container style="height: 70vh; overflow: auto">
          <v-table>
            <thead>
              <tr>
                <th class="text-h6" style="color: grey">id</th>
                <th class="text-h6" style="color: grey">name</th>
                <th class="text-h6" style="color: grey">price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="productStore.myOrders.length === 0">
                <th style="width: 100%" colspan="3" class="text-center">
                  <h2>NO Data</h2>
                </th>
              </tr>
              <tr v-for="item of productStore.myOrders" :key="item.id">
                <th>
                  {{ item.id }}
                </th>
                <th>
                  {{ item.name }}
                </th>
                <th>
                  {{ item.price }}
                </th>
              </tr>
            </tbody>
          </v-table>
        </v-container>
        <h1 class="ma-7" style="font-size: 50pt">Sum:{{ productStore.sum }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
