<script lang="ts" setup>
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);

const num = ref("0");
const number = ref(0);
function trans() {
  if (num.value.length == 0) {
    number.value = 0;
  } else {
    number.value = parseInt(num.value);
  }
}
</script>

<template>
  <v-container>
    <v-form ref="form">
      <v-text-field
        @vnode-updated="trans"
        v-model="num"
        label="Please input Number"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        required
      >
      </v-text-field>
    </v-form>

    <v-container style="height: 80vh; overflow: auto">
      <v-row>
        <v-col cols="1" v-for="item in number" :key="item">{{ item }}</v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
