<script lang="ts" setup>
import { ref } from "vue";
const url = ref("../feeling_imgs/smile.png");
const title = ref("Smile");

function change(emotion: string, pic: string) {
  url.value = pic;
  title.value = emotion;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img width="600" :src="url" class="mx-lg-auto"></v-img>
      </v-col>
      <v-col cols="6" align-self="center">
        <v-container>
          <h1 class="text-center ma-4">{{ title }}</h1>
          <v-row>
            <v-btn
              @click="change('Angry', '../feeling_imgs/angry.png')"
              width="100%"
              :class="title === 'Angry' ? 'yellow' : 'none'"
              class="ma-3"
              >ANGRY</v-btn
            >
          </v-row>
          <v-row>
            <v-btn
              @click="change('Cute', '../feeling_imgs/cute.png')"
              width="100%"
              :class="title === 'Cute' ? 'yellow' : 'none'"
              class="ma-3"
              >CUTE</v-btn
            >
          </v-row>
          <v-row>
            <v-btn
              @click="change('Excited', '../feeling_imgs/excited.png')"
              width="100%"
              :class="title === 'Excited' ? 'yellow' : 'none'"
              class="ma-3"
              >EXITED</v-btn
            >
          </v-row>
          <v-row>
            <v-btn
              @click="change('Pain', '../feeling_imgs/pain.png')"
              width="100%"
              :class="title === 'Pain' ? 'yellow' : 'none'"
              class="ma-3"
              >PAIN</v-btn
            >
          </v-row>
          <v-row>
            <v-btn
              @click="change('Shocked', '../feeling_imgs/shocked.png')"
              width="100%"
              :class="title === 'Shocked' ? 'yellow' : 'none'"
              class="ma-3"
              >SHOCKED</v-btn
            >
          </v-row>
          <v-row>
            <v-btn
              @click="change('Smile', '../feeling_imgs/smile.png')"
              width="100%"
              :class="title === 'Smile' ? 'yellow' : 'none'"
              class="ma-3"
              >SMILE</v-btn
            >
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}
</style>
