<script setup lang="ts">
import firstComponent from "../components/FirstComponent.vue";
import secondComponent from "../components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <firstComponent></firstComponent>
        <v-btn @click="counterStore.increment">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <secondComponent></secondComponent>
        <v-btn @click="counterStore.decrement">DECREMENT</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
