<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <v-container>
    <h3>First Component</h3>
    <p>{{ counterStore.count }}</p>
  </v-container>
</template>
